# Visual Studio
.vs/
x64/
Debug/
Release/
out/
build/

# Build artifacts
*.exe
*.obj
*.pdb
*.ilk
*.log
*.idb
*.ipdb
*.iobj
*.tlog
*.cso

# User files
*.suo
*.user
*.userosscache
*.sln.docstates

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Vulkan compiled shaders
*.spv
